<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manage/layout/default}">

	<th:block layout:fragment="customContent">
		
        <!-- Content Row -->
        <div class="row">
        	<!-- content -->
			<div class="col-xl-10 col-lg-10">
				<div class="card shadow mb-4">
				    <!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					    <h6 class="m-0 font-weight-bold text-primary">페이지 이름</h6>
					</div>
					<!-- Card Body -->
				    <div class="card-body">
				       <div class="p-3">
							<div class="text-center">
							    <h1 class="h4 text-gray-900 mb-4">소제목</h1>
							</div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    	<label for="exampleFirstName">아이디</label>
                                        <input type="text" class="form-control" id="exampleFirstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                    	<label for="exampleFirstName">비밀번호</label>
                                        <input type="text" class="form-control" id="exampleLastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                	<label for="exampleFirstName">아이디</label>
                                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                  		<label for="exampleFirstName">아이디</label>
                                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                    	<label for="exampleFirstName">아이디</label>
                                        <input type="password" class="form-control" id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>
                            </form>
                        </div>
				    </div>
				</div>
			</div>
        </div>
	
	</th:block>
</html>